
/* NAVBAR */
a.navbar-brand {
    font-size: 30px;
    color: #1C2331;
    text-transform: uppercase;
  }
  
a.nav-link.avatar.dropdown-toggle.waves-effect.waves-light {
    color: #FFFFFF; 
}

.nav-link .fa-heart {
    color: red;
}

a.nav-link.waves-effect.waves-light {
    font-size: 30px;
}


/* CARDS & OTHER LAYOUT */
.row {
    margin-top: 1.5rem;
}

.embed-responsive .card-img-top {
    object-fit: cover;
}

.card {
    margin: 1rem;
    width: 320px;
}

p.card-text {
    color: #555555
}


/* BUTTONS & ICONS */
button:focus {
    outline: 0 !important;
}

.love-this {
    color: red;
}

.fa-hamburger {
    color: #1C2331
}

button {
    float: right;
    border: 0;
    background: white;
}

.heart-icon-right:hover {
    color: red;
    content: "\f004"
}

.heart-icon-right-loved {
    color: red;
}

button {
    position: absolute;
    top: 265px;
    right: 20px;
}